extends layout

block content
    script(src="https://cdn.jsdelivr.net/npm/algoliasearch@4.17.2/dist/algoliasearch-lite.umd.js" integrity="sha256-X2G+vjV8i6Jj2NSGFTvy6Z4q2AlmF5aH0HiIpWJ8eU4=" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.56.1/dist/instantsearch.production.min.js" integrity="sha256-lz9C+x8+6w2rh56x5TrH5iYmE4Js2FiJS5h0tuMz7hQ=" crossorigin="anonymous")
    div(style="display:block; content:''; height: 60px;")
    // Navbar
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.py-3.shadow.fixed-top
        .container
            a.navbar-brand(href='/') Acordãos

            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navmenu')
                span.navbar-toggler-icon

            .navbar-collapse.collapse#navmenu
                ul.navbar-nav.ms-auto
                    li 
                        a.nav-item.nav-link(href='/novoDocumento') Inserir Documentos
                    li
                        a.nav-item.nav-link(href='/pesquisas') Pesquisas
                    if user 
                        li
                            a.nav-item.nav-link(href='/users/' + user.id) Perfil
                    else
                        li 
                            a.nav-item.nav-link(href='/users/login') Iniciar Sessão
    // Acordãos
    section.py-5.text-center
        .container
            h1.py-5 Pesquisas
            .row
                  .col-md-3.py-5 
                    .d-flex.justify-content-center
                        #searchbox.my-2
                  .col-md-9.py-5
                    .d-flex.justify-content-center    
                        #hits
                    .d-flex.justify-content-center
                        #pagination.my-3
    // Footer
    footer.p-3.bg-light.text-center.mt-auto.position-relative.shadow
        .container 
            p.lead Copyright &copy; 2023 EngWeb, Acordãos
            a.position-absolute.bottom-0.end-0.p-3(href="#")
                i.fa-solid.fa-circle-arrow-up.h3(style="color: grey;")
    script.
        const searchClient = algoliasearch('3U240B9PZS', '2fcb4365959ca67208f80ef5792f2990');

        const search = instantsearch({
            indexName: 'Acordaos',
            searchClient,
        });

        function truncateText(text, maxLength) {
            if (text) {
                if (text.length > maxLength) {
                    return text.slice(0, maxLength) + '...';
                }
                return text;
            } else {
                return 'N/D'
            }
        }

        search.addWidgets([
            instantsearch.widgets.searchBox({
                container: '#searchbox',  
                placeholder: 'Procurar acordãos',
                showSubmit: false,
                showReset: false,
                cssClasses: {
                    root: 'input-group',
                    input : 'form-control', 
                }
            }),
            instantsearch.widgets.hits({
                container: '#hits',
                cssClasses: {
                    root: 'm-0',
                    list: 'list-group list-group-flush ',
                    item: 'list-group-item'
                },
                templates: {
                    empty: '<p>Não encontramos nenhum resultado</p> ',
                    item: (hit, { html, components }) => html`
                        <div class="card mb -2"> <div class="card-body">
                        <h5 class="text-start text-primary">${components.Highlight({ hit, attribute: 'Processo' })}</h1>
                        <div class="row pb-2">
                            <div class="col-md-4"> 
                                <div class="text-start"> <b>Tribunal:</b> ${components.Highlight({ hit, attribute: 'Tribunal' })}</div>
                            </div>
                            <div class="col-md-4"> 
                                <div class="text-start"> <b>Relator:</b> ${components.Highlight({ hit, attribute: 'Relator' })}</div>
                            </div>
                            <div class="col-md-4"> 
                                <div class="text-start"> <b>Data do Acordão:</b> ${components.Highlight({ hit, attribute: 'Data do Acordão' })}</div>
                            </div>
                        </div>
                        <div class="text-start pb-2"> <b>Área Temática:</b> ${components.Highlight({ hit, attribute: 'Área Temática' })}</div>
                        <div class="text-start pb-2"> <b>Descritores:</b> ${components.Highlight({ hit, attribute: 'Descritores' })}</div>
                        <div class="text-start pb-2">
                            <b>Sumário:</b> ${truncateText(hit['Sumário'], 500)}
                        </div>
                        </div>
                        </div>
                    `
                },
            }),
            instantsearch.widgets.pagination({
                container: '#pagination',
                cssClasses: {
                    selectedItem: 'page-item active',
                    disabledItem: 'page-item disabled',
                    list: 'pagination',
                    item: 'page-item',
                    link: 'page-link'
                }
            }),
        ]);

        search.start();     

                        


                
        
    